
/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

/* Importing component files */
@import url("components/avatar.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

/* General style rules for fonts and colors */
body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
}
h1, h2{
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: rgb(195, 19, 198);
  font-weight:700;
  letter-spacing:5px;
  font-size:32px;

}
h2{
  color:rgb(206, 35, 209);
  font-size:24px;
  font-weight:500;
}

a{
  text-decoration:none;
  color:darkblue;
  transform: : 0,3s ease;
}

a:hover{
  color:blue;
}